In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Final_Train_Dataset.csv')
df.head()

,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305

In [3]:
df1=df.drop(['job_type'],axis=1)

In [4]:
df2=df1.dropna( subset=["job_description", "key_skills"], inplace=True)
df2=df1.shape
print(df2)

(15384, 7)

In [5]:
df2 = df1.copy()

In [6]:
df2["company_name_encoded"]=df2["company_name_encoded"].astype("str")

In [7]:
df2['comb']= df2[['experience','job_description','job_desig','key_skills','location','salary','company_name_encoded']].apply(lambda x: ' '.join(x), axis=1)

In [8]:
df2.head()

,experience,job_description,job_desig,key_skills,location,salary,company_name_encoded,comb
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687,5-7 yrs Exp: Minimum 5 years;Good understandin...
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458,10-17 yrs He should have handled a team of atl...
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195,5-9 yrs Must be an effective communicator (wri...
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313,7-10 yrs 7 - 10 years of overall experience ...
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305,1-3 yrs Chartered Accountancy degree or MBA in...

In [9]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import nltk.data
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91775\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91775\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
### Lemmtization
lemmatizer = nltk.WordNetLemmatizer()

def Lemmatization(content):
    lemmas = content.lower()
    lemmas = lemmas.split()
    lemmas = [lemmatizer.lemmatize(word) for word in lemmas]
    lemmas = ' '.join(lemmas)
    return lemmas

In [11]:
df2['lemmatized_text']= df2.comb.apply(Lemmatization)

In [12]:
df2.head()

,experience,job_description,job_desig,key_skills,location,salary,company_name_encoded,comb,lemmatized_text
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687,5-7 yrs Exp: Minimum 5 years;Good understandin...,5-7 yr exp: minimum 5 years;good understanding...
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458,10-17 yrs He should have handled a team of atl...,10-17 yr he should have handled a team of atle...
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195,5-9 yrs Must be an effective communicator (wri...,5-9 yr must be an effective communicator (writ...
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313,7-10 yrs 7 - 10 years of overall experience ...,7-10 yr 7 - 10 year of overall experience in d...
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305,1-3 yrs Chartered Accountancy degree or MBA in...,1-3 yr chartered accountancy degree or mba in ...

In [14]:
df2.to_csv("df2.csv")

In [13]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english')

In [23]:
data = cv.fit_transform(df2['lemmatized_text']).toarray()
data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(data)
similarity

array([[1.        , 0.05345225, 0.08164966, ..., 0.02062842, 0.02773501,
        0.02264554],
       [0.05345225, 1.        , 0.10910895, ..., 0.08269768, 0.07412493,
        0.06052275],
       [0.08164966, 0.10910895, 1.        , ..., 0.08421519, 0.03774257,
        0.09245003],
       ...,
       [0.02062842, 0.08269768, 0.08421519, ..., 1.        , 0.08581944,
        0.09342837],
       [0.02773501, 0.07412493, 0.03774257, ..., 0.08581944, 1.        ,
        0.09421114],
       [0.02264554, 0.06052275, 0.09245003, ..., 0.09342837, 0.09421114,
        1.        ]])

In [38]:
def recommend(job):
    index = df2[df2['comb'] == job].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:8]:

      
      print("{} {} {} {}".format(df2.iloc[i[0]].job_description,df2.iloc[i[0]].key_skills,df2 .iloc[i[0]].location,df2.iloc[i[0]].salary))

In [39]:
#input
df2.comb[0]

'5-7 yrs Exp: Minimum 5 years;Good understanding of IOC rules; Must Have:;Good analytical skills;Good ... Senior Exploit and Vulnerability Researcher team skills, communication skills, analytical skills, problem solving... Delhi NCR(Vikas Puri) 6to10 3687'

In [40]:
recommend("5-7 yrs Exp: Minimum 5 years;Good understanding of IOC rules; Must Have:;Good analytical skills;Good ... Senior Exploit and Vulnerability Researcher team skills, communication skills, analytical skills, problem solving... Delhi NCR(Vikas Puri) 6to10 3687")

Exp: Minimum 5 years;Good understanding of IOC rules; Must Have:;Good analytical skills;Good ... team skills, communication skills, analytical skills, problem solving... Delhi NCR(Vikas Puri) 10to15
Excellent research skills, analytical skills, client-interfacing skills, presentation skills, ... rfp, presales, software services, analytical skills, brd, frd, gap analysis... Delhi NCR 6to10
Should have good logical and analytical skills;Should have GOOD experience in working on ... communication skills, web technologies, analytical skills, laravel, laravel... Chandigarh 6to10
Along with good analytical and problem solving skills, candidate must have strong communication skills, ... Interface Builder, Objective C, IOS, Swift, Apple, Software Development... Hyderabad 10to15
Along with good analytical and problem solving skills, candidate must have strong communication skills, ... Interface Builder, Objective C, IOS, Swift, Apple, Software Development... Hyderabad 15to25
Experience Required: Minimum 5 years; Skills required:; Must Have:;Good analytical skills ... C#, C++, WPF, Software Engineering, Delphi, Database, Team Skills... Delhi NCR(Vikas Puri) 6to10
Good written and verbal communications skills;Good analytical and planning skills;Good oral and written ... BPO, Customer service, Recruitment, Consulting, Financial services, VPN... Bengaluru 6to10

In [42]:
import pickle

In [43]:
pickle.dump(df2,open("movie_recm.pkl","wb"))
pickle.dump(similarity,open("similarity.pkl","wb"))