In [1]:

import numpy as np
import pandas as pd
import pickle

In [2]:
df=pickle.load(open("movie_recm.pkl","rb"))
similarity=pickle.load(open("similarity.pkl","rb"))

In [22]:
df.head(1)

,experience,job_description,job_desig,key_skills,location,salary,company_name_encoded,comb,lemmatized_text
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687,5-7 yrs Exp: Minimum 5 years;Good understandin...,5-7 yr exp: minimum 5 years;good understanding...

In [9]:
print(df['key_skills'][0])

team skills, communication skills, analytical skills, problem solving...

In [27]:
def recommend(skills):
    index = df[df['key_skills'] == skills].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    jd = []
    ks = []
    loc = []
    sal = []
    for i in distances[1:8]:
        jd.append(df.iloc[i[0]].job_description)
        ks.append(df.iloc[i[0]].key_skills)
        loc.append(df.iloc[i[0]].location)
        sal.append(df.iloc[i[0]].salary)
    return jd, ks, loc, sal

In [28]:
jd, ks, loc, sal = recommend('team skills, communication skills, analytical skills, problem solving...')

In [20]:
opd = pd.DataFrame()

In [31]:
opd['job_description']= jd
opd['key_skills']= ks
opd['location']= loc
opd['salary']= sal

In [32]:
opd

,job_description,key_skills,location,salary
0,Exp: Minimum 5 years;Good understanding of IOC...,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),10to15
1,"Excellent research skills, analytical skills, ...","rfp, presales, software services, analytical s...",Delhi NCR,6to10
2,Should have good logical and analytical skills...,"communication skills, web technologies, analyt...",Chandigarh,6to10
3,Along with good analytical and problem solving...,"Interface Builder, Objective C, IOS, Swift, Ap...",Hyderabad,10to15
4,Along with good analytical and problem solving...,"Interface Builder, Objective C, IOS, Swift, Ap...",Hyderabad,15to25
5,Experience Required: Minimum 5 years; Skills r...,"C#, C++, WPF, Software Engineering, Delphi, Da...",Delhi NCR(Vikas Puri),6to10
6,Good written and verbal communications skills;...,"BPO, Customer service, Recruitment, Consulting...",Bengaluru,6to10